/* Global colours */
:root {
    --black: #000000ff;
    --white: #FFFFFFff;
    --olive: #8E7A3Fff;
    --satin-sheen-gold: #B09A51ff;
    --antiflash-white: #F0F0F0ff;
  }

/* General styles */

body{
    color: var(--black) ;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    text-transform: capitalize;
}

h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
}

a {
    color: var(--olive);
}

section {
    margin: 6%;
}

.button {    
    background-color: var(--olive);
    color: var(--white);
    display: inline-block;
    font-family: "DM Serif Display", serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.12rem;
    padding: 8px 45px;
    box-shadow: 5px 5px 5px lightgray;
    margin-top: 15px;
}

.special-heading{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-transform: capitalize;
}


/* Header and nav bar */

#nav-bar{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

#nav-logo {
    width: 50%;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 60%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

/* Main body of the webpage */

#three-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#three-cols article {
    padding: 2rem;
}




/* Footer */

footer{
    background-color: var(--black);
    color: var(--white);
    padding: 30px 30px 10px 30px;
}

#footer-columns {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}

/* logo column in footer */

#logo-footer {
    width: 200px;
}

/* menu lists in footer */
#footer-columns ul {
        padding-left: 0;
}

#footer-columns ul li {
    list-style: none;
    margin-bottom: 1.2rem;
}

/* Links styling (order: LVHA) */
#footer-columns ul li a{
    color: var(--white);
    text-decoration: none;
}

#footer-columns ul li a:hover {
    color: var(--olive);
    text-decoration: underline;
    text-decoration-thickness: 0.7px;
    text-underline-offset: 10px;
}

/* copyright at the end of footer */

#copyright {
    border-top: 0.5px var(--antiflash-white) solid;
    margin-top: 4rem;
}

#copyright p:first-child {
    font-size: 16px;
    font-family: "Great Vibes", cursive;
    text-align: center;
}

#copyright p:last-child {
    font-size: 14px;
    font-family: "DM Serif Display", serif;
    text-align: center;
}